---
import BaseLayout from '../layouts/BaseLayout.astro';
import Preloader from '../components/Preloader.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Services from '../components/Services.astro';
import Stack from '../components/Stack.astro';
import Projects from '../components/Projects.astro';
import Playground from '../components/Playground.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';

const lang = 'es';
---

<BaseLayout lang={lang}>
  <Preloader lang={lang} />
  <Header lang={lang} />
  <main id="main">
    <Hero lang={lang} />
    <About lang={lang} />
    <Services lang={lang} />
    <Stack lang={lang} />
    <Projects lang={lang} />
    <Playground lang={lang} />
    <Contact lang={lang} />
  </main>
  <Footer lang={lang} />
</BaseLayout>
